## WEIGHTED MEAN

Scenario of an enginnering exam:
There are 3 subjects: Geography(1), math(3), history(1) suppose-> least weightage to history

In [4]:
import pandas as pd

In [25]:
score = pd.DataFrame(data = [['x',3,55,'Math'],['x',1,68,'Geography'],['x',1,85,'History']],
                     columns = ['Name','Weight','Score','Subject'])

In [26]:
score.head()

  Name  Weight  Score    Subject
0    x       3     55       Math
1    x       1     68  Geography
2    x       1     85    History

In [27]:
#NORMAL AVERAGE
score['Score'].mean()

69.33333333333333

In [28]:
#calculating the weighted mean(multiply weight with score)
summation = sum(score['Weight']*score['Score'])
print(summation)

318

In [29]:
w_sum = sum(score['Weight'])
print(w_sum)

5

In [30]:
#WEIGHTED MEAN = summation /w_sum
w_mean = summation/w_sum
print(w_mean)

63.6

# ENCODING

ONE HOT ENCODER

In [40]:
df = pd.DataFrame({'team':['A','A','B','B','B','B','C','C'],
                  'points': [25,12,15,14,19,23,25,19]})
df.head(8)

  team  points
0    A      25
1    A      12
2    B      15
3    B      14
4    B      19
5    B      23
6    C      25
7    C      19

In [42]:
# we need to identify as whatis what in team column, we have to take encoder as a module from
#a library called SKLEARN

from sklearn.preprocessing import OneHotEncoder
import numpy as np
import pandas as pd
#calling encoder
encoder = OneHotEncoder(handle_unknown = 'ignore')
encoder_df = pd.DataFrame(encoder.fit_transform(df[['team']]).toarray())

In [46]:
#joining it in initial dataframe (df)
final_df = df.join(encoder_df)
final_df.head(8)

  team  points    0    1    2
0    A      25  1.0  0.0  0.0
1    A      12  1.0  0.0  0.0
2    B      15  0.0  1.0  0.0
3    B      14  0.0  1.0  0.0
4    B      19  0.0  1.0  0.0
5    B      23  0.0  1.0  0.0
6    C      25  0.0  0.0  1.0
7    C      19  0.0  0.0  1.0

In [49]:
final_df.drop('team', axis = 1, inplace = True)

In [52]:
final_df.columns = ['points','teamA','teamB','teamC']
final_df.head(8)

   points  teamA  teamB  teamC
0      25    1.0    0.0    0.0
1      12    1.0    0.0    0.0
2      15    0.0    1.0    0.0
3      14    0.0    1.0    0.0
4      19    0.0    1.0    0.0
5      23    0.0    1.0    0.0
6      25    0.0    0.0    1.0
7      19    0.0    0.0    1.0